.relative {
    position: relative;
    height: 60%;
}

.relative-sm {
    position: relative;
}

#text-1, #img-1, #text-2, #img-2 {
    position: absolute;
    width: 20%;
}

#text-1 {
    top: 6rem;
    left: 29%;
    font-size: 1.4rem;
    text-align: right;
}

#img-1 {
    top: 0%;
    left: 51%;
}

#text-2 {
    top: 6rem;
    left: 51%;
    font-size: 1.4rem;
    text-align: left;
}

#img-2 {
    top: 0%;
    left: 29%;
}

.firefox{--th-color:#9E00FF;}
.edge{--th-color:#2FC2E1;}
.chrome{--th-color:#FFCE42;}

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.45);
}

#header h1 {
    display: inline-block;
    transform: translateY(-1.3rem);
}

#header-icon {
    height: 3rem;
    margin: .5rem;
    display: inline-block;
}

@media only screen and (max-device-width: 990px) {
    #text-1, #text-2 {
        top: 6rem;
        left: 10%;
        width: 80%;
        font-size: 1.4rem;
        text-align: center;
    }

    .relative {
        height: 20%;
    }
    
    #img-1, #img-2 {
        display: none;
    }
}
